@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px 20px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;
    scroll-behavior: smooth;
}

p {
    font-size: 10px;
    line-height: 10px;
    background: url('https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXRodW1ibmFpbHx8c3Z1eWRFanJldE18fGVufDB8fHx8&auto=format&fit=crop&w=416&q=60');
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.7);
}